<div class="container main">
	<div class="row">
		<div class="col col-sm-10">
			<%= render 'users/user-list', users: @users %>
		</div>
		<div  class="row">
			<span><%= paginate @users %></span>
		</div>
	</div>
</div>
