<% if current_user.following?(user) %>
    <h5><%= link_to "フォロー中", user_relationship_path(user), method: :delete, class:"btn btn-primary" %></h5>
<% else %>
  <h5><%= link_to "フォローする", user_relationships_path(user), method: :post, class:"btn btn-primary" %></h5>
<% end %>