<div class="user-index">
	<div class="user-index__title">
		<h3><span class="under">ユーザー一覧</span></h3>
	</div>
	<%= render 'index', users: @users %>
	<div  class="user-index__pagenate">
		<span><%= paginate @users %></span>
	</div>
</div>