<div class="container main">
	<div class="row">
		<div class="col col-sm-10">
			<h3><span class="under">検索結果</span></h3>
			<% if @users.present? %>
				<%= render 'user-list', users: @users %>
			<% else %>
			<p>検索結果がありません。</p>
			<% end %>
		</div>
	</div>
</div>