<div class="container main">
	<div class="row">
		<div class="form-layout">
			<div class="list-title">
				<p>コラム投稿</p>
			</div>
			<div class="">
				<%= render 'layouts/error_messages', model: @column %>
			</div>
			<div class="">
				<%= render 'column-form', column: @column %>
			</div>
		</div>
	</div>
</div>