<div class="">

<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<% if user_signed_in? %>
	<%= link_to ' ログアウト ', users_sign_out_path, method: :delete %>
<% else %>
	<%= link_to '新規登録', users_sign_up_path %>
	<%= link_to 'ログイン', users_sign_in_path %>
<% end %>
