<div class="container main">
	<div class="row">
		<div id="container">
	        <div id="theTarget">
	            <div class="top-image1"></div>
	            <div class="top-image2"></div>
	            <div class="top-image3"></div>
	            <div class="top-image4"></div>
	            <div class="top-image5"></div>
	        </div>
	    </div>
	</div>
	<div class="row top-body">
		<h3 class=""><span class="under">about CREATE TOWN</span></h3>
		<h4>
			 地域活性、まちづくりに関心のある人たちが集まるSNSです<br/>
			こんな町にしたい！そんな思いを持った人たちが集まるのがこの「CREATE TOWN」です。<br/>
			共感から始まるまちづくりをはじめませんか？<br/><br/>
		</h4>
		<h4>
			このサイトでは新規登録後、<br/>
			ユーザー情報編集画面で「参加者を募集する」を選択すれば、<br/>
			参加者を募集する投稿ができるようになります!<br/>
			また、コラムは誰でも投稿することができます。<br/>
			フォローやいいねをしあったり、コメントしたり、<br/>
			意見を交換しあいましょう!
		</h4>
	</div>
</div>
