<div class="">

<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>


<%= link_to '新規登録', users_sign_up_path %>
<%= link_to 'ログイン', users_sign_in_path %>
<%= link_to ' ログアウト ', users_sign_out_path, method: :delete %>
