/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

header{
	background-color: #e9e9e9;
	opacity: 0.8;
}
.main {
  margin-top: 120px;
}
*{
	font-family: ZEN角ゴシックN R;
}

.top-image1{
	background-image: url(top-image1.jpg)
}
.top-image2{
	background-image: url(top-image2.jpg)
}
.top-image3{
	background-image: url(top-image3.jpg)
}
.top-image4{
	background-image: url(top-image4.jpg)
}
.top-image5{
	background-image: url(top-image5.jpg)
}
#container{
 	height: 400px;
 }
 #theTarget{
 	position: relative;
 }
.top-title{
	position: absolute;
	top: 150px;
	left: 20%;
	height: 180px;
	width: 400px;
	background-color: #e9e9e9;
	border-radius: 5px;
	opacity: 0.8;
	text-align:center;
}
footer{
	text-align: center;
	margin-top: 20px;
}





.columns-list{
  background: #fcfcfc;
  padding: 1px;
  max-width: 60%;
}
.column-show{
	max-width: 60%;
}
.column-show__body{
	margin: 20px 0 ;
	border: solid 2px gray;
}



