// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_index{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 1000px;
}


.post_index .post_item{
	border : solid 1px;
	border-radius: 5px;
	margin: 20px;
}
a {
  text-decoration: none;
}
.prefecture_name{
	padding-right: 5px;
	width: 50px;
	height: 30px;
	border: solid 1px ;
	border-radius: 50%;
	display: flex;
	justify-content: center; /* 追加 */
  	align-items: center; /* 追加 */
  	padding-left: 5px;
}

.post-pagenate{
	display: flex;
	margin: 0 auto;
}