// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_index{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post_index .post_main{
	border : solid 1px;
}