// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-index{
	margin-bottom: 20px;
}
.user-index__table{
	width:400px;
}

.user-index__item{
	margin-left: 20px;
}
.user-show__table{
	background-color: white;
}
#profile_map{
	height:200px;
	width: 400px;
}
.user-show__status{
	padding-top:15px;
}
.user-show__introduction{
	padding-top: 15px;
}
.user-show__post-index{
	margin: 30px 0;
	border-top: 1px solid;
}
.user-show__table{
	background-color: white;
}
.user-show__map{
	margin-top: 20px;
	border-top: 1px solid;
}
.user-edit{
	background-color:#EEEEEE;
	margin: 0 auto;
	width: 550px;
	text-align: center;
}
.user-edit__title{
	font-size: 20px;
	color: #FFF;
	background: orange;
}
.user-edit__table{
	text-align:center;
	margin: 0 auto;
}
#first_box table{
	margin: 0 auto;
}
.sign-in{
	background-color:#EEEEEE;
	margin: 0 auto;
	width: 550px;
	text-align: center;
}
.sign-in__table{
	margin: 0 auto;
	text-align: center;
}
.log-in{
	background-color:#EEEEEE;
	margin: 0 auto;
	width: 550px;
	text-align: center;
}
.log-in__table{
	margin: 0 auto;
	text-align: center;
}