
<div class="row">
	<h5><span class="under">ユーザー検索</span></h5>
	<%= form_tag(user_search_path, :method => 'get') do %>
		<%= text_field_tag :search, nil, placeholder: "キーワードを入力", class:"", size: "20", required: true%>
		<%= submit_tag '検索', :name => nil %>
	<% end %>
</div>
